body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}
nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
g
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 50px;
    background-image: url(bokback-01.png);
    background-size: cover;
    color: rgb(9, 9, 9);
}

#books {
    text-align: center;
    padding: 30px;
}

.book {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    
}

.book img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book a {
    display: block;
    margin-top: 10px;
    background: #333;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
}
.book a:hover{
    background: #085bf4    
}

#contact {
    text-align: center;
    padding: 30px;
    background: #ddd;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
}